<ed-header title="Contact"></ed-header>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-map-marker"></i> Location
        </div>
        <div class="card-block">
          <iframe class="location-map"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.705273579726!2d103.83145851529184!3d1.3534052990129104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da173a98d9aff1%3A0x982934608ee5429b!2s261+Upper+Thomson+Rd%2C+Singapore+574388!5e0!3m2!1sen!2sid!4v1486146934938"
                  frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-10 offset-1 col-md-3 offset-md-2 mb-5 text-center">
      <div class="card">
        <div class="card-header">
          Contact
        </div>
        <div class="card-block">
          <h3 class="card-title">Address</h3>
          <p class="card-text">261A Upper Thomson Road</p>
          <h3 class="card-title">Telephone</h3>
          <p class="card-text">+65 123456789</p>
          <h3 class="card-title">Telephone</h3>
          <p class="card-text">support@edemy.sg</p>
        </div>
      </div>
    </div>

    <div class="col-10 offset-1 col-md-4 offset-md-1">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-comment"></i> Contact Form
        </div>
        <div class="card-block">
          <alert type="success" *ngIf="!!messageSent">
            <strong>Success!</strong> You message has been successfully sent.
          </alert>
          <alert type="danger" *ngIf="messageSent === false">
            <strong>Failure!</strong> Failed to send message, please try
                                      again later.
          </alert>
          <form [formGroup]="contactForm" (submit)="sendCustomerQuery()">
            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" class="form-control" id="inputName"
                     placeholder="Enter name" formControlName="Name" required>
            </div>
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" class="form-control" id="inputEmail"
                     aria-describedby="emailHelp" placeholder="Enter email"
                     formControlName="Email" required>
              <small id="emailHelp" class="form-text text-muted">
                We'll never share your email with anyone else.
              </small>
            </div>
            <div class="form-group">
              <label for="inputPhone">Phone</label>
              <input type="tel" class="form-control" id="inputPhone"
                     aria-describedby="phoneHelp"
                     placeholder="Enter phone number"
                     formControlName="Phone" required>
              <small id="phoneHelp" class="form-text text-muted">
                We'll never share your phone number with anyone else.
              </small>
            </div>
            <div class="form-group">
              <label for="inputSubject">Subject</label>
              <input type="text" class="form-control" id="inputSubject"
                     placeholder="Enter subject"
                     formControlName="Subject" required>
            </div>
            <div class="form-group">
              <label for="inputQuery">Query</label>
              <textarea class="form-control" id="inputQuery" rows="5"
                        placeholder="Enter message" formControlName="Query"
                        required></textarea>
            </div>
            <div class="form-group">
              <recaptcha class="g-recaptcha" aria-describedby="captchaHelp"
                         formControlName="Captcha"
                         size="compact"
                         siteKey="6LcffxQUAAAAABm03NR8yQ1eKfqQR3yjcWyXiFg5"
                         required></recaptcha>
              <small class="text-danger">
                Captcha needs to be solved.
              </small>
            </div>
            <button [disabled]="submitted" type="submit"
                    class="btn btn-primary">Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

