.content-wrapper {
	margin: 80px auto;
}
.location {
	height: 40vh;
	iframe {
		width: 100%;
		height: 100%;
	}
}

.location-wrapper {
	margin-bottom: 50px;
}

textarea {
	resize: none;
}

.alert {
	margin-top: 20px;
}

#captchaHelp {
	color: red;
}
