.lessons-list {
  width: 80%;
  margin: 100px auto;
}

.filters {
  margin-bottom: 50px;
  md-select {
    margin-right: 20px;
  }
}

.md-list-text {
  min-width: 150px;
}

.lesson-level {
  min-width: 200px;
  text-align: right;
}

.no-lessons-label {
  text-align: center;
}
