.lessons-card {
  width: 1000px;
  max-width: 80vw;
  margin: 50px auto;
}

.lessons-list {
  margin: 50px auto;
}

.filters {
  margin: 20px 0;
}

.lesson-level {
  min-width: 100px;
  text-align: right;
}

.no-lessons-label {
  text-align: center;
}

@media (max-width: 550px) {
  .lesson-description {
    display: none;
  }
}
