<div class="lessons-list">
  <div class="filters">
    <md-select placeholder="Subject" (onClose)="onFilterSelectClose()"
               [(ngModel)]="selectedSubjectFilter">
      <md-option *ngFor="let subject of subjects" [value]="subject.title">
        {{subject.title}}
      </md-option>
    </md-select>
    <md-select placeholder="Level" (onClose)="onFilterSelectClose()"
               [(ngModel)]="selectedLevelFilter">
      <md-option *ngFor="let level of levels" [value]="level">
        {{level}}
      </md-option>
    </md-select>
  </div>
  <md-nav-list>
    <div *ngFor="let subject of subjects">
      <div *ngIf="getSubjectLessons(subject.title).length > 0">
        <h3 md-subheader>{{subject.title}}</h3>
        <md-list-item *ngFor="let lesson of getSubjectLessons(subject.title)"
                      routerLink="/onlinelessons/{{lesson.id}}">
          <md-icon md-list-avatar>{{getSubjectSymbol(subject.title)
                                  }}
          </md-icon>
          <h4 md-line>{{lesson.title}}</h4>
          <h3 md-line class="lesson-description">{{lesson.description}}</h3>
          <span class="lesson-level">{{lesson.level}}</span>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </div>
  </md-nav-list>
  <h3 *ngIf="displayedLessons.length === 0" class="no-lessons-label">No
                                                                     lessons to
                                                                     show
                                                                     .</h3>
</div>
