.subject {
	h1 {
		font-size: 1.5em;
	}
}

.lesson {
	border: solid thin gray;
	background-color: white;
	a {
		text-decoration: none;
		display: block;
		color: black;
	}
	a:hover {
		background-color: lightgray;
	}
	img {
		height: 100%;
		display: block;
	}
}

.levels-list {
	margin-top: 10px;
	padding: 0;
	list-style: none;
	li {
		display: inline;
	}
	.lesson-level {
		margin: 10px 5px 10px 0;
	}
}
