.lessons-list {
  width: 80%;
  margin: 100px auto;
}

.filters {
  margin-bottom: 50px;
  md-select {
    margin-right: 20px;
  }
}

.lesson-level {
  min-width: 100px;
  text-align: right;
}

.no-lessons-label {
  text-align: center;
}

@media (max-width: 550px) {
  .lesson-description {
    display: none;
  }
}
