<button class="btn btn-danger mb-3" routerLink="/admin-dashboard/students">
  Back
</button>

<div class="card mb-5">
  <div class="card-header">
    Student Particulars
  </div>
  <div class="card-block">
    <p class="card-text">
      <span class="font-weight-bold">First Name:</span>
      {{student.FirstName}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Middle Name:</span>
      {{student.MiddleName}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Last Name:</span>
      {{student.LastName}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">NRIC:</span>
      {{student.IdentificationNumber}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Email:</span>
      {{student.Email}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Birth date:</span>
      {{student.BirthDate}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Gender:</span>
      {{student.IsMale ? 'Male' : 'Female'}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Race:</span>
      {{student.Race}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Address:</span>
      {{student.Address}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Home Contact No.:</span>
      {{student.ContactHome}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Mobile Contact No.:</span>
      {{student.ContactMobile}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">School:</span>
      {{student.School}}
    </p>

    <div class="btn-group">
      <button class="btn btn-secondary"
              routerLink="/admin-dashboard/students/{{student.Id}}/edit">
        Edit
      </button>
      <button class="btn btn-secondary">
        Enroll
      </button>
      <button class="btn btn-secondary">
        Collect Fee
      </button>
    </div>

  </div>
</div>

<div class="hr-divider">
  <h3 class="hr-divider-content hr-divider-heading">
    Enrollments
  </h3>
</div>


