<div class="introduction">
  <div class="mission">
    <h1>Mission</h1>
    <p>In <b>engaging</b> our students, Edemy seek to <b>enrich
    </b> them and
      <b>enable</b> them to fulfill their academic potential.</p>
  </div>
  <div class="vision">
    <h1>Vision</h1>
    <p>Students to become passionate learners, ones who have unceasing desire
       to learn and driven to achieve academic success.</p>
  </div>
</div>


<div class="tutors">
  <h1>Tutors</h1>
  <div class="tutors-list" fxLayout="column" fxLayout.gt-md="row"
       fxLayoutAlign="center center">
    <md-card class="tutor-card" fxFlex="40">
      <md-card-header>
        <md-card-title>Aloysius Feng</md-card-title>
        <md-card-subtitle>Mathematics</md-card-subtitle>
      </md-card-header>
      <div class="tutor-img-wrapper">
        <img md-card-image src="assets/img/teacher.svg">
      </div>
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
           urbanitas eos an. In vis enim sint, invenire praesent erroribus
           et vel. Paulo dolorum tincidunt pro ut. Ei unum latine delicata
           vis, vix te legere primis theophrastus, atqui intellegam usu an.

           Duo oportere iudicabit interpretaris in, magna placerat sea eu.
           At civibus posidonium delicatissimi nam. At vix eruditi fuisset
           gubergren, an his forensibus moderatius disputando. Vis ei munere
           labores, hinc decore cu ius. Usu ipsum accumsan recusabo ad.</p>
      </md-card-content>
    </md-card>
    <md-card class="tutor-card" fxFlex="40">
      <md-card-header>
        <md-card-title>Bryan Chua</md-card-title>
        <md-card-subtitle>Science</md-card-subtitle>
      </md-card-header>
      <div class="tutor-img-wrapper">
        <img md-card-image src="assets/img/teacher.svg">
      </div>
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
           urbanitas eos an. In vis enim sint, invenire praesent erroribus
           et vel. Paulo dolorum tincidunt pro ut. Ei unum latine delicata
           vis, vix te legere primis theophrastus, atqui intellegam usu an.

           Duo oportere iudicabit interpretaris in, magna placerat sea eu.
           At civibus posidonium delicatissimi nam. At vix eruditi fuisset
           gubergren, an his forensibus moderatius disputando. Vis ei munere
           labores, hinc decore cu ius. Usu ipsum accumsan recusabo ad.</p>
      </md-card-content>
    </md-card>
  </div>
  <div class="tutors-list" fxLayout="column" fxLayout.gt-md="row">
    <md-card class="tutor-card" fxFlex="40">
      <md-card-header>
        <md-card-title>Regina Chua</md-card-title>
        <md-card-subtitle>Yoga</md-card-subtitle>
      </md-card-header>
      <div class="tutor-img-wrapper">
        <img md-card-image src="assets/img/teacher.svg">
      </div>
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
           urbanitas eos an. In vis enim sint, invenire praesent erroribus
           et vel. Paulo dolorum tincidunt pro ut. Ei unum latine delicata
           vis, vix te legere primis theophrastus, atqui intellegam usu an.

           Duo oportere iudicabit interpretaris in, magna placerat sea eu.
           At civibus posidonium delicatissimi nam. At vix eruditi fuisset
           gubergren, an his forensibus moderatius disputando. Vis ei munere
           labores, hinc decore cu ius. Usu ipsum accumsan recusabo ad.</p>
      </md-card-content>
    </md-card>
    <md-card class="tutor-card" fxFlex="40">
      <md-card-header>
        <md-card-title>Vina Chia</md-card-title>
        <md-card-subtitle>Phonics</md-card-subtitle>
      </md-card-header>
      <div class="tutor-img-wrapper">
        <img md-card-image src="assets/img/teacher.svg">
      </div>
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
           urbanitas eos an. In vis enim sint, invenire praesent erroribus
           et vel. Paulo dolorum tincidunt pro ut. Ei unum latine delicata
           vis, vix te legere primis theophrastus, atqui intellegam usu an.

           Duo oportere iudicabit interpretaris in, magna placerat sea eu.
           At civibus posidonium delicatissimi nam. At vix eruditi fuisset
           gubergren, an his forensibus moderatius disputando. Vis ei munere
           labores, hinc decore cu ius. Usu ipsum accumsan recusabo ad.</p>
      </md-card-content>
    </md-card>
  </div>
</div>
