<ed-header title="About"></ed-header>

<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron">
        <div class="container text-center">
          <h1 class="display-4">Our Mission</h1>
          <p class="lead">
            In <b>engaging</b> our students, Edemy seek to <b>enrich</b> them
            and <b>enable</b> them to fulfill their academic potential.
          </p>
          <h1 class="display-4 mt-5">Our Vision</h1>
          <p class="lead">
            Students to become passionate learners, ones who have unceasing
            desire to learn and driven to achieve academic success.
          </p>
          <h1 class="display-4 mt-5">About</h1>
          <p class="lead text-left">
            Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
            urbanitas eos an. In vis enim sint, invenire praesent erroribus
            et vel. Paulo dolorum tincidunt pro ut. Ei unum latine delicata
            vis, vix te legere primis theophrastus, atqui intellegam usu
            an.

            Duo oportere iudicabit interpretaris in, magna placerat sea eu.
            At civibus posidonium delicatissimi nam. At vix eruditi fuisset
            gubergren, an his forensibus moderatius disputando. Vis ei
            munere
            labores, hinc decore cu ius. Usu ipsum accumsan recusabo
            ad.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4 mb-5">Our Team</h1>
          <div class="row">
            <div class="col-md-4 offset-md-2">
              <div class="card mb-5">
                <img class="card-img-top" src="assets/img/boy.svg"
                     alt="Tutor image">
                <div class="card-block">
                  <h4 class="card-title">Aloysius Feng</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Mathematics</h6>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
                    urbanitas eos an. In vis enim sint, invenire praesent
                    erroribus
                    et vel. Paulo dolorum tincidunt pro ut. Ei unum latine
                    delicata
                    vis, vix te legere primis theophrastus, atqui intellegam
                    usu
                    an.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-5">
                <img class="card-img-top" src="assets/img/boy.svg"
                     alt="Tutor image">
                <div class="card-block">
                  <h4 class="card-title">Bryan Chua</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Science</h6>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
                    urbanitas eos an. In vis enim sint, invenire praesent
                    erroribus
                    et vel. Paulo dolorum tincidunt pro ut. Ei unum latine
                    delicata
                    vis, vix te legere primis theophrastus, atqui intellegam
                    usu
                    an.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 offset-md-2">
              <div class="card mb-5">
                <img class="card-img-top" src="assets/img/girl.svg"
                     alt="Tutor image">
                <div class="card-block">
                  <h4 class="card-title">Vina Chia</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Phonics</h6>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
                    urbanitas eos an. In vis enim sint, invenire praesent
                    erroribus
                    et vel. Paulo dolorum tincidunt pro ut. Ei unum latine
                    delicata
                    vis, vix te legere primis theophrastus, atqui intellegam
                    usu
                    an.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-5">
                <img class="card-img-top" src="assets/img/girl.svg"
                     alt="Tutor image">
                <div class="card-block">
                  <h4 class="card-title">Regina Chua</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Yoga</h6>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
                    urbanitas eos an. In vis enim sint, invenire praesent
                    erroribus
                    et vel. Paulo dolorum tincidunt pro ut. Ei unum latine
                    delicata
                    vis, vix te legere primis theophrastus, atqui intellegam
                    usu
                    an.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

