.introduction {
	margin: 50px auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	height: 30vh;
	.vision {
		margin-top: 50px;
	}
}

.tutors {
	width: 100%;
	background-color: #2196f3;
	padding: 50px;
	h1 {
		text-align: center;
		color: white;
	}
}

.tutors-list {
	min-height: 70vh;
}

.tutor-card {
	height: 80%;
	width: 350px;
	max-width: 90%;
	margin: 20px auto;
	.tutor-img-wrapper {
		text-align: center;
		img {
			margin: 10px auto;
			width: 200px;
			height: 200px;
			border-radius: 200px;
		}
	}
}

.flex-item {
	flex: 1 0 auto !important;
}
