.introduction {
	margin: 80px auto;
	max-width: 80vw;
	.vision {
		margin-top: 50px;
	}
}

.tutors {
	background-color: #2196f3;
	padding: 50px;
	.tutors-label {
		color: white;
		margin-bottom: 50px;
	}
}

.tutor {
	img {
		margin: 20px auto;
		width: 300px;
		height: 200px;
	}
}
