<div class="introduction text-center">
  <div class="mission">
    <h1>Mission</h1>
    <p>In <b>engaging</b> our students, Edemy seek to <b>enrich
    </b> them and
      <b>enable</b> them to fulfill their academic potential.</p>
  </div>
  <div class="vision">
    <h1>Vision</h1>
    <p>Students to become passionate learners, ones who have unceasing desire
       to learn and driven to achieve academic success.</p>
  </div>
</div>


<div class="tutors container-fluid">
  <h1 class="tutors-label text-center">Tutors</h1>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <div class="thumbnail tutor">
        <img src="assets/img/teacher.svg" alt="Tutor's Photo">
        <div class="caption">
          <div class="tutor-info">
            <h3>Aloysius Feng</h3>
            <h4>Mathematics</h4>
          </div>
          <div class="tutor-description">
            <p>Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
               urbanitas eos an. In vis enim sint, invenire praesent erroribus
               et vel. Paulo dolorum tincidunt pro ut. Ei unum latine delicata
               vis, vix te legere primis theophrastus, atqui intellegam usu an.

               Duo oportere iudicabit interpretaris in, magna placerat sea eu.
               At civibus posidonium delicatissimi nam. At vix eruditi fuisset
               gubergren, an his forensibus moderatius disputando. Vis ei munere
               labores, hinc decore cu ius. Usu ipsum accumsan recusabo ad.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail tutor">
        <img src="assets/img/teacher.svg" alt="Tutor's Photo">
        <div class="caption">
          <div class="tutor-info">
            <h3>Bryan Chua</h3>
            <h4>Physics</h4>
          </div>
          <div class="tutor-description">
            <p>Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
               urbanitas eos an. In vis enim sint, invenire praesent erroribus
               et vel. Paulo dolorum tincidunt pro ut. Ei unum latine delicata
               vis, vix te legere primis theophrastus, atqui intellegam usu an.

               Duo oportere iudicabit interpretaris in, magna placerat sea eu.
               At civibus posidonium delicatissimi nam. At vix eruditi fuisset
               gubergren, an his forensibus moderatius disputando. Vis ei munere
               labores, hinc decore cu ius. Usu ipsum accumsan recusabo ad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <div class="thumbnail tutor">
        <img src="assets/img/teacher.svg" alt="Tutor's Photo">
        <div class="caption">
          <div class="tutor-info">
            <h3>Vina Chia</h3>
            <h4>Phonics</h4>
          </div>
          <div class="tutor-description">
            <p>Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
               urbanitas eos an. In vis enim sint, invenire praesent erroribus
               et vel. Paulo dolorum tincidunt pro ut. Ei unum latine delicata
               vis, vix te legere primis theophrastus, atqui intellegam usu an.

               Duo oportere iudicabit interpretaris in, magna placerat sea eu.
               At civibus posidonium delicatissimi nam. At vix eruditi fuisset
               gubergren, an his forensibus moderatius disputando. Vis ei munere
               labores, hinc decore cu ius. Usu ipsum accumsan recusabo ad.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail tutor">
        <img src="assets/img/teacher.svg" alt="Tutor's Photo">
        <div class="caption">
          <div class="tutor-info">
            <h3>Regina Chua</h3>
            <h4>Yoga</h4>
          </div>
          <div class="tutor-description">
            <p>Lorem ipsum dolor sit amet, eu vix facer voluptua, consul
               urbanitas eos an. In vis enim sint, invenire praesent erroribus
               et vel. Paulo dolorum tincidunt pro ut. Ei unum latine delicata
               vis, vix te legere primis theophrastus, atqui intellegam usu an.

               Duo oportere iudicabit interpretaris in, magna placerat sea eu.
               At civibus posidonium delicatissimi nam. At vix eruditi fuisset
               gubergren, an his forensibus moderatius disputando. Vis ei munere
               labores, hinc decore cu ius. Usu ipsum accumsan recusabo ad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
