<div class="container mt-5">
  <div class="row">

    <div class="col-md-3 sidebar">
      <ed-admin-sidebar-nav></ed-admin-sidebar-nav>
    </div>

    <div class="col-md-9 content">
      <div class="dashhead">
        <div class="dashhead-titles">
          <h6 class="dashhead-subtitle">Dashboards</h6>
          <h2 class="dashhead-title">Overview</h2>
        </div>
        <div class="btn-toolbar dashhead-toolbar">
          <div class="btn-toolbar-item input-with-icon">
            <input type="text" value="01/01/15 - 01/08/15" class="form-control"
                   data-provide="datepicker">
            <span class="icon icon-calendar"></span>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
