footer {
	background-color: #1997c6;
	color: white;
}

.site-creator {
	color: white;
	text-decoration: underline;
	font-weight: bold;
}

.social-list {
	li {
		font-size: 1.5rem;
		a {
			color: white;
			text-decoration: none;
		}
	}
}

.copyright {
	font-size: 0.75rem;
}
