.navbar {
	margin-bottom: 0;
	padding-right: 20px;
	img {
		width: 32px;
		height: 32px;
		margin: -4px 0 0 0;
		padding: 0;
	}
	#navbar-toggle-cbox {
		display:none;
		&:checked ~ .collapse {
			display: block;
		}
	}
}

.btn-navbar {
	margin-top: 14px;
}
