<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" (click)="toggleNavbarCollapse()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="home">
    <img alt="logo" src="assets/img/edemy-short-logo.svg"/>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"
       [collapse]="isNavbarCollapsed">

    <ul class="navbar-nav mr-auto">
      <li *ngFor="let link of links" class="nav-item">
        <a class="nav-link" [routerLink]="link.Route"
           [class.active]="(routerPath$ | async) == link.Route"
           (click)="closeAllCollapses()">
          {{link.Title}}
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li *ngIf="!(isLoggedIn$ | async)">
        <button class="btn btn-success my-2 my-sm-0 login-btn"
                (click)="loginModal.show()">
          <span class="icon icon-login" aria-hidden="true"></span> Login
        </button>
      </li>

      <li *ngIf="isLoggedIn$ | async" dropdown>

        <button id="user-menu-button"
                class="btn btn-secondary my-2 my-sm-0"
                type="button" aria-expanded="false" (click)="toggleUserMenu()"
                dropdownToggle>
          <span class="icon icon-user"></span>
          {{(user$ | async).DisplayName}}
          <span class="caret"></span>
        </button>

        <ul role="menu" class="dropdown-menu-right" dropdownMenu
            aria-labelledby="user-menu-button"
            [collapse]="isUserMenuCollapsed">

          <div class="admin-menu-items"
               *ngIf="(user$ | async).Role === 'Administrator'">
            <li role="menuitem">
              <a class="dropdown-item" routerLink="admin-dashboard"
                 (click)="closeAllCollapses()">
                <span class="icon icon-browser" aria-hidden="true"></span>
                Admin
              </a>
            </li>

            <li class="dropdown-divider"></li>
          </div>

          <li role="menuitem">
            <a class="dropdown-item" routerLink="quizzes"
               (click)="closeAllCollapses()">
              <span class="icon icon-book" aria-hidden="true"></span> Quizzes
            </a>
          </li>

          <li role="menuitem">
            <a class="dropdown-item" routerLink="worksheets"
               (click)="closeAllCollapses()">
              <span class="icon icon-folder" aria-hidden="true"></span>
              Worksheets
            </a>
          </li>

          <li class="dropdown-divider"></li>

          <li role="menuitem">
            <button class="dropdown-item btn-link" (click)="logout()">
              <span class="icon icon-log-out" aria-hidden="true"></span> Logout
            </button>
          </li>

        </ul>
      </li>
    </ul>
  </div>
</nav>

<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Login</h4>
        <button type="button" class="close pull-right" aria-label="Close"
                (click)="loginModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ed-login></ed-login>
      </div>
    </div>
  </div>
</div>
