.page-header {
	margin: 0;
	padding: 48px 48px 32px 48px;
	background-color: #2a7acf;
	height: 168px;
	.title {
		color: white;
		margin: 0;
		font-size: 28px;
		font-weight: 400;
		float: left;
		line-height: 48px;
		text-transform: uppercase;
	}
}
