<md-card class="video-card">
  <md-card-header>
    <md-card-title-group>
      <md-card-title>{{lesson.Description}}</md-card-title>
      <md-card-subtitle>{{lesson.Level}}</md-card-subtitle>
    </md-card-title-group>
  </md-card-header>
  <md-card-content>
    <div class="embed-wrapper">
      <iframe class="embed-video"
              [src]="safeVideoUrl()"
              frameborder="0" allowfullscreen></iframe>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button>SHARE</button>
  </md-card-actions>
  <md-card-footer>
    <div>
      By <a href="" target="_blank">{{lesson.Tutor}}</a>
    </div>
  </md-card-footer>
</md-card>
