<md-card class="video-card">
  <md-card-header>
    <md-card-title-group>
      <md-card-title>{{lesson.Description}}</md-card-title>
      <md-card-subtitle>
       <span class="level" *ngFor="let level of lesson.Levels">{{level}}</span>
      </md-card-subtitle>
    </md-card-title-group>
  </md-card-header>
  <md-card-content>
    <div class="video-card-wrapper">
      <iframe class="embed-video"
              [src]="safeVideoUrl()"
              frameborder="0" allowfullscreen></iframe>
    </div>
  </md-card-content>
  <md-card-footer>
    <div class="tutor">
      <h4>Tutor: <a href="" target="_blank">{{lesson.Tutor}}</a></h4>
    </div>
  </md-card-footer>
</md-card>

<md-card class="notes-card">
  <md-card-header>
    <h3>Notes</h3>
  </md-card-header>
  <md-card-content>
    <p class="notes-content">{{lesson.Notes}}</p>
  </md-card-content>
</md-card>
