<div class="home-wrapper">
  <div class="home-header">
    <div class="header-content">
      <h1>Engage. Enrich. Enable.</h1>
      <img class="edemy-logo" src="assets/img/edemy-short-logo.svg"
           alt="Edemy Logo">
      <div class="buttons">
        <a class="btn btn-primary btn-lg" routerLink="/contact">Apply
                                                                    Now</a>
      </div>
    </div>
  </div>

  <div class="home-content container-fluid">
    <div class="promos">
      <div class="promo row">
        <div class="col-12 col-md-3 text-center img-container">
          <img src="assets/img/desktop.svg">
        </div>
        <div class="col-9 text-container">
          <div>
            <h3 class="promo-title">Platform</h3>
            <p>Our platform allows parents to track their child's progress
               and enhances every student's learning.</p>
          </div>
        </div>
      </div>

      <div class="promo row">
        <div class="col-12 col-md-3 text-center img-container">
          <img src="assets/img/boy.svg">
        </div>
        <div class="col-9 text-container">
          <div>
            <h3 class="promo-title">Individualised</h3>
            <p>Teaching styles and enrichment materials are
               individualised
               and specially catered to help students discover their
               potential and meet their learning needs.</p>
          </div>
        </div>
      </div>

      <div class="promo row">
        <div class="col-12 col-md-3 text-center img-container">
          <img src="assets/img/lecture.svg">
        </div>
        <div class="col-9 text-container">
          <div>
            <h3 class="promo-title">Focused</h3>
            <p>Lesson size is limited to 6 enabling each student to
               receive sufficient focus from the tutor.</p>
          </div>
        </div>
      </div>

      <div class="promo row">
        <div class="col-12 col-md-3 text-center img-container">
          <img src="assets/img/teacher.svg">
        </div>
        <div class="col-9 text-container">
          <div>
            <h3 class="promo-title">Qualified</h3>
            <p>Tutors are qualified with years of experience in
               the education field.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
