.home-layout {
	margin: 50px auto;
	min-height: 100%;
	width: 100%;
}

.news-card {
	width: 250px;
	margin: 0 auto 50px auto;
	text-align: center;
	h3 {
		width: 100%;
		text-decoration: underline;
	}
	.news-list {
		margin-top: 20px;
		margin-top: 20px;
	}
}

.main-card {
	width: 650px;
	max-width: 70vw;
	margin: 0 auto 50px auto;
	h2 {
		width: 100%;
		margin: auto;
	}
	img {
		text-align: center;
	}
	md-card-actions {
		text-align: center;
		margin: 10px auto;
		a {
			background-color: #2196f3;
			color: white;
		}
	}
}

.example-header-image {
	background-size: cover;
}

.testimony-list {
	h3 {
		text-align: center;
	}
}

.testimony-card {
	margin: 0 auto 50px auto;
	width: 200px;
}

.flex-item {
	flex: 1 0 auto !important;
}
