.home-header {
	width: 100%;
	height: 560px;
	background-image: url('assets/img/home-banner.jpg');
	background-size: cover;
	text-align: center;
	.header-content {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: auto;
		h1 {
			margin: 0;
			text-transform: uppercase;
		}
		.edemy-logo {
			width: 200px;
			height: 200px;
		}
	}
}

.home-content {
	background-color: #2196f3;
	color: white;
}

.promos {
	width: 800px;
	max-width: 80vw;
}

.promo {
	color: white;
	.promo-title {
		margin-top: 0;
		color: white;
	}
	img {
		max-width: 100%;
		width: 192px;
		height: 192px;
	}
}

@media (max-width: 1024px) {
	.home-header {
		background-image: url('assets/img/home-banner-sm.jpg');
	}
}

@media (min-width: 1024px) and (max-width: 1920px) {
	.home-header {
		background-image: url('assets/img/home-banner-xl.jpg');
	}
}
