.home-layout {
	margin: 50px auto;
}

.main-card {
	width: 600px;
	max-width: 80vw;
	margin: 0 auto 50px auto;
}

.example-header-image {
	background-size: cover;
}

.testimony-card {
	margin: 0 auto 50px auto;
	width: 200px;
}

.example-testimony-image {
	background-image: url('http://placehold.it/50x50');
	background-size: cover;
}
