<div fxLayout="column" fxLayout.gt-md="row"
     fxLayoutAlign="center center"
     class="home-layout">
  <div fxFlex="33"></div>
  <div fxFlex="66">
    <md-card class="main-card">
      <img md-card-image src="../../../assets/img/edemy-banner.jpg">
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta
           minus
           molestiae vel beatae natus eveniet ratione temporibus aperiam harum
           alias
           officiis assumenda officia quibusdam deleniti eos cupiditate dolore
           doloribus!</p>
        <p>Ad dolore dignissimos asperiores dicta facere optio quod commodi nam
           tempore recusandae. Rerum sed nulla eum vero expedita ex delectus
           voluptates rem at neque quos facere sequi unde optio aliquam!</p>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex="33" class="testimony-list">
    <md-card class="testimony-card">
      <md-card-header>
        <md-card-title>Edwin Chia</md-card-title>
        <md-card-subtitle>St. Andrew's Junior College</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="https://placehold.it/300x300">
      <md-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta
           minus
           molestiae vel beatae natus eveniet ratione temporibus aperiam harum
           alias
           officiis assumenda officia quibusdam deleniti eos cupiditate dolore
           doloribus!</p>
      </md-card-content>
    </md-card>
  </div>
</div>
