<div class="home-wrapper">
  <div class="home-header">
    <div class="header-content">
      <h1>Engage. Enrich. Enable.</h1>
      <img class="edemy-logo" src="assets/img/edemy-short-logo.svg"
           alt="Edemy Logo">
      <div class="buttons">
        <a md-raised-button class="apply-button" routerLink="/contact">Apply
                                                                      Now</a>
      </div>
    </div>
  </div>

  <div class="home-content">

    <div class="promo">
      <div fxLayout="column" fxLayout.gt-md="row">
        <div class="img-container" fxFlex="30">
          <img src="https://placehold.it/200x200">
        </div>
        <div class="text-container" fxFlexFill>
          <div>
            <h3 class="promo-title">Platform</h3>
            <p>Lorem ipsum dolor sit amet, eros solet duo no, at magna fabellas
               vix. Vis eu dicat causae numquam, hinc decore graecis no per, quo
               viderer voluptatum deterruisset no. Molestie offendit fabellas ut
               sed, eum causae persecuti deterruisset eu, vel eirmod placerat
               eu.
               Cu stet soluta facete vim.</p>
          </div>
        </div>
      </div>

      <div class="promo">
        <div fxLayout="column" fxLayout.gt-md="row">
          <div class="img-container" fxFlex="30">
            <img src="https://placehold.it/200x200">
          </div>
          <div class="text-container" fxFlexFill>
            <div>
              <h3 class="promo-title">Individualised Teaching</h3>
              <p>Lorem ipsum dolor sit amet, eros solet duo no, at magna
                 fabellas
                 vix. Vis eu dicat causae numquam, hinc decore graecis no per,
                 quo
                 viderer voluptatum deterruisset no. Molestie offendit fabellas
                 ut
                 sed, eum causae persecuti deterruisset eu, vel eirmod placerat
                 eu.
                 Cu stet soluta facete vim.</p>
            </div>
          </div>
        </div>

        <div class="promo">
          <div fxLayout="column" fxLayout.gt-md="row">
            <div class="img-container" fxFlex="30">
              <img src="https://placehold.it/200x200">
            </div>
            <div class="text-container" fxFlexFill>
              <div>
                <h3 class="promo-title">Qualified Tutors</h3>
                <p>Lorem ipsum dolor sit amet, eros solet duo no, at magna
                   fabellas
                   vix. Vis eu dicat causae numquam, hinc decore graecis no per,
                   quo
                   viderer voluptatum deterruisset no. Molestie offendit
                   fabellas ut
                   sed, eum causae persecuti deterruisset eu, vel eirmod
                   placerat
                   eu.
                   Cu stet soluta facete vim.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
