<div class="wrapper">
  <div class="subject">
    <h2>Mathematics</h2>
    <span class=image>
      <img src="assets/img/maths.svg">
    </span>
    <span class="info">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
       velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
       occaecat
       cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
       est laborum.</p>
      <div class="levels">
        <h4>Levels:</h4>
        <ul class="levels-list">
          <li>
            <span class="label label-primary">Primary</span>
          </li>
          <li>
            <span class="label label-success">Secondary</span>
          </li>
        </ul>
      </div>
    </span>
  </div>

  <div class="subject">
    <h2>Science</h2>
    <span class=image>
      <img src="assets/img/science.svg">
    </span>
    <span class="info">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
       velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
       occaecat
       cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
       est laborum.</p>
      <div class="levels">
        <h4>Levels:</h4>
        <ul class="levels-list">
          <li>
            <span class="label label-primary">Primary</span>
          </li>
          <li>
            <span class="label label-success">Secondary</span>
          </li>
        </ul>
      </div>
    </span>
  </div>

  <div class="extracurricular-divider">
    <h1>Extracurricular</h1>
    <div class="divider"></div>
  </div>

  <div class="subject">
    <h2>Phonics</h2>
    <span class=image>
      <img src="assets/img/phonics.svg">
    </span>
    <span class="info">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
       velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
       occaecat
       cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
       est laborum.</p>
      <div class="levels">
        <h4>Levels:</h4>
        <ul class="levels-list">
          <li>
            <span class="label label-info">Pre-School</span>
          </li>
        </ul>
      </div>
    </span>
  </div>

  <div class="subject">
    <h2>Yoga</h2>
    <span class=image>
      <img src="assets/img/yoga.svg">
    </span>
    <span class="info">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
       velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
       occaecat
       cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
       est laborum.</p>
      <div class="levels">
        <h4>Levels:</h4>
        <ul class="levels-list">
          <li>
            <span class="label label-info">Pre-School</span>
          </li>
          <li>
            <span class="label label-primary">Primary</span>
          </li>
          <li>
            <span class="label label-success">Secondary</span>
          </li>
        </ul>
      </div>
    </span>
  </div>
</div>
