.subject {
	margin: 50px auto;
	h2 {
		font-weight: bold;
		font-size: 2.5em;
	}
}

.image, .info {
	display: inline-block;
}

.image {
	margin: 20px auto;
	img {
		width: 192px;
		height: 192px;
	}
}

.levels {
	h4 {
		font-size: 1.75em;
		display: inline-block;
	}
	.levels-list {
		padding: 0;
		list-style: none;
		li {
			display: inline;
		}
	}
}

.extracurricular-divider {
	margin: 100px auto 0 auto;
	h1 {
		font-size: 2.5em;
	}
	.divider {
		border-bottom: 1px solid #ccc;
	}
}
