.wrapper {
	width: 800px;
	max-width: 80vw;
	margin: 80px auto;
}

.subject {
	margin: 50px auto;
}

.image, .info {
	display: inline-block;
}

.image {
	margin: 20px auto;
	img {
		width: 192px;
		height: 192px;
	}
}

.levels {
	h4 {
		display: inline-block;
	}
	.levels-list {
		padding: 0;
		list-style: none;
		li {
			display: inline;
		}
	}
}

.extracurricular-divider {
	margin: 100px auto 0 auto;
	max-width: 80vw;
	.divider {
		border-bottom: 1px solid #ccc;
	}
}

.primary, .secondary, .pre-school {
	color: white;
}

.primary {
	background-color: lightblue;
}

.secondary {
	background-color: lightcoral;
}

.pre-school {
	background-color: lightgreen;
}
