.nav-bar {
	box-shadow: 0 4px 4px #888888;
}

.title {
	margin-left: 10px;
}

md-button-toggle:checked {
	background-color: transparent;
}

md-sidenav-container {
	width: 100%;
	min-height: 100vh;
}

md-sidenav-container md-sidenav {
	max-width: 304px;
}

md-sidenav-container .md-sidenav-content,
md-sidenav-container md-sidenav {
	display: flex;
	overflow: auto;
}

.example-scrolling-content {
	overflow: auto;
}

md-nav-list {
	text-transform: uppercase;
}
