<md-sidenav-container>

  <md-sidenav #sidenav [mode]="currentSideNavMode()"
              [opened]="shouldSideNavBeHidden()">

    <span><img src="../assets/img/edemy-logo.svg"></span>

    <md-divider></md-divider>

    <md-nav-list>

      <md-list-item routerLink="/home">
        <md-icon md-list-icon>home</md-icon>
        <h4 md-line>Home</h4>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item routerLink="/about">
        <md-icon md-list-icon>person</md-icon>
        <h4 md-line>About</h4>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item routerLink="/curriculum">
        <md-icon md-list-icon>school</md-icon>
        <h4 md-line>Curriculum</h4>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item routerLink="/online-tutorials">
        <md-icon md-list-icon>book</md-icon>
        <h4 md-line>Online Tutorials</h4>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item routerLink="/contact">
        <md-icon md-list-icon>call</md-icon>
        <h4 md-line>Contact</h4>
      </md-list-item>
      <md-divider></md-divider>

      <div class="info">
        <ul class="contact-list">
          <li>
            <a href="https://www.facebook.com/edemysg" target="_blank"><i
              class="fa fa-facebook-official"></i></a>
          </li>
          <li>
            <span mdTooltip="support@edemy.sg"
                 mdTooltipPosition="above">
              <i class="fa fa-envelope"></i>
            </span>
          </li>
        </ul>
        <p class="copyright">Edemy 2017 ©</p>
      </div>


    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary" class="nav-bar">
    <div [hidden]="shouldSideNavBeHidden()">
      <button md-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
    </div>
    <span class="title">{{title}}</span>
  </md-toolbar>

  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
