<md-sidenav-container fullscreen>
  <md-sidenav class="main-sidenav" #sidenav
               [mode]="(isSidenavLockedOpen$ | async) ? 'side' : 'over'"
              [opened]="isSidenavLockedOpen$ | async">

    <span><img src="assets/img/edemy-logo.svg"></span>
    <md-divider></md-divider>
    <md-nav-list>
      <md-list-item routerLink="home">
        <md-icon md-list-icon>home</md-icon>
        <h4 md-line>Home</h4>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item routerLink="about">
        <md-icon md-list-icon>person</md-icon>
        <h4 md-line>About</h4>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item routerLink="curriculum">
        <md-icon md-list-icon>school</md-icon>
        <h4 md-line>Curriculum</h4>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item routerLink="onlinelessons">
        <md-icon md-list-icon>book</md-icon>
        <h4 md-line>Online Lessons</h4>
      </md-list-item>
      <md-divider></md-divider>

      <md-list-item routerLink="contact">
        <md-icon md-list-icon>call</md-icon>
        <h4 md-line>Contact</h4>
      </md-list-item>
      <md-divider></md-divider>

      <div class="info">
        <ul class="contact-list">
          <li>
            <i class="fa fa-facebook-official">
              <a href="https://www.facebook.com/edemysg" target="_blank">
                facebook.com/edemysg
              </a>
            </i>
          </li>
          <li>
            <i class="fa fa-envelope"></i>
            <span>support@edemy.sg</span>
          </li>
          <li>
            <i class="fa fa-phone"></i>
            <span>12345</span>
          </li>
        </ul>
        <h4 class="copyright">Edemy 2017 ©</h4>
      </div>
    </md-nav-list>
  </md-sidenav>
  <ed-toolbar [menuButtonHidden]="isSidenavLockedOpen$ | async"
              (openMenu)="sidenav.toggle()"
              (openUserMenu)="usersidenav.toggle()"></ed-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>
