<div class="container my-5">
  <div class="card">
    <div class="card-header text-center">
      <button class="btn btn-warning float-left" (click)="goBack()">
        Back
      </button>
      <h5 class="font-weight-bold">{{quiz.Title}}</h5>
    </div>
    <div class="card-block">

      <form #quizForm="ngForm" (submit)="onSubmit(quizForm.value)">

        <ol class="my-5">
          <li *ngFor="let question of quiz.Questions" class="mt-5">

            <p class="font-weight-bold d-inline">{{question.Question}}</p>

            <div *ngIf="question.Type === 'Multiple Choice Single Answer'"
                 class="multiple-choice-single-answer">
              <ul class="list-unstyled p-0 mt-3">
                <div class="form-group">
                  <li *ngFor="let choice of question.Choices">
                    <div class="form-check">
                      <label class="form-check-label" [for]="choice.Id">
                        <input type="radio" [id]="choice.Id"
                               class="form-check-input"
                               [name]="question.Id" [value]="choice"
                               (change)="onRadioChoiceChange(question.Id, choice)">
                        {{choice.Choice}}
                      </label>
                    </div>
                  </li>
                </div>
              </ul>
            </div>

            <div *ngIf="question.Type === 'Multiple Choice Multiple Answers'"
                 class="multiple-choice-single-answer">
              <ul class="list-unstyled p-0 mt-3">
                <div class="form-group">
                  <li *ngFor="let choice of question.Choices">
                    <div class="form-check">
                      <label class="form-check-label" [for]="choice.Id">
                        <input type="checkbox" [id]="choice.Id"
                               class="form-check-input"
                               [name]="question.Id" [value]="choice"
                               (change)="onCheckBoxChoiceChange(question.Id, choice, cb.checked)" #cb>
                        {{choice.Choice}}
                      </label>
                    </div>
                  </li>
                </div>
              </ul>
            </div>


            <div class="hr-divider"></div>

          </li>
        </ol>

        <div class="text-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>
