<md-card class="login-card">
  <md-card-header>
    <h3 align="center">Login</h3>
  </md-card-header>
  <md-card-content>
    <form class="login-form">
      <md-input-container class="full-width">
        <input md-input placeholder="Username">
      </md-input-container>
      <md-input-container class="full-width">
        <input md-input placeholder="Password">
      </md-input-container>
      <div class="buttons">
        <button md-raised-button (click)="login()" color="primary">Login
        </button>
      </div>
    </form>
  </md-card-content>
</md-card>

