.card-login {
  width: 400px;
  max-width: 80vw;
  margin: 50px auto;
}

.form-login {
  width: 300px;
  max-width: 80%;
  margin: 20px auto;
}

.full-width {
  width: 100%;
}

h3 {
  width: 100%;
  margin: auto;
}

.alert-error {
  text-align: center;
  color: red;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}
