<md-card class="card-login">
  <md-card-header>
    <h3 align="center">Login</h3>
  </md-card-header>
  <md-card-content>
    <div *ngIf="loginError$ | async" class="alert-error" role="alert">
      <strong>Warning:</strong> Username and Password mismatch
    </div>
    <form class="form-login" [formGroup]="loginForm"
          (submit)="performLogin()">
      <md-input-container class="full-width">
        <input md-input formControlName="username" placeholder="Username"
               required autofocus>
      </md-input-container>
      <md-input-container class="full-width">
        <input md-input type="password" formControlName="password"
               placeholder="Password"
               required autofocus>
      </md-input-container>
      <div>
        <label>
          <input type="checkbox" formControlName="rememberUser">
          Remember me
        </label>
      </div>
      <div class="captcha">
        <recaptcha formControlName="captcha"
                   siteKey="6LcffxQUAAAAABm03NR8yQ1eKfqQR3yjcWyXiFg5"
                   required></recaptcha>
        <div [hidden]="captchaControl.valid" role="alert"
             class="alert-error">Captcha must be solved.
        </div>
      </div>
      <div class="buttons">
        <button [disabled]="!loginForm.valid" md-raised-button type="submit"
                color="primary">Login
        </button>
      </div>
    </form>
  </md-card-content>
</md-card>

