.title {
  margin-left: 10px;
}

.toolbar {
  box-shadow: 0 4px 4px #888888;
}

md-button-toggle:checked {
  background-color: transparent;
}

.spacer {
  flex: 1 1 auto;
}

.icon-color {
  color: white;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.fa {
  font-size: 24px;
}
