<md-toolbar color="primary" class="toolbar">
  <div [hidden]="menuButtonHidden">
    <button md-button (click)="openMenu.emit()">
      <md-icon>menu</md-icon>
    </button>
  </div>
  <span class="title">{{title$ | async}}</span>
  <span class="spacer"></span>
  <a md-button routerLink="login" *ngIf="!(isLoggedIn$ | async)">
    <i class="fa fa-sign-in icon-color" aria-hidden="true"></i>
    <span class="icon-color">Login</span>
  </a>
  <button md-button *ngIf="isLoggedIn$ | async" [mdMenuTriggerFor]="userMenu">
    <i class="fa fa-user icon-color" aria-hidden="true"></i>
    <span class="display-name icon-color">{{displayName$ | async}}</span>
    <i class="fa fa-caret-down icon-color" aria-hidden="true"></i>
  </button>
</md-toolbar>

<md-menu #userMenu>
  <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>Feedback</span>
  </button>
  <button md-menu-item *ngIf="isLoggedIn$ | async" (click)="performLogout()">
    <md-icon class="fa fa-sign-out"></md-icon>
    <span>Logout</span>
  </button>
</md-menu>
