<md-toolbar color="primary" class="toolbar">
  <div [hidden]="menuButtonHidden">
    <button md-button class="icon-color" (click)="openMenu.emit()">
      <md-icon>menu</md-icon>
    </button>
  </div>
  <span class="title icon-color">{{title$ | async}}</span>
  <span class="spacer"></span>
  <a md-button routerLink="login" *ngIf="!(isLoggedIn$ | async)">
    <i class="fa fa-sign-in icon-color" aria-hidden="true"></i>
    <span class="icon-color">Login</span>
  </a>
  <button class="user-menu" md-button *ngIf="isLoggedIn$ | async"
          [mdMenuTriggerFor]="userMenu">
    <i class="fa fa-user icon-color" aria-hidden="true"></i>
    <span class="display-name icon-color">{{(user$ | async).DisplayName}}</span>
    <i class="fa fa-caret-down icon-color" aria-hidden="true"></i>
  </button>
</md-toolbar>

<md-menu #userMenu>
  <a *ngIf="isLoggedIn$ | async" md-menu-item
     routerLink="worksheets">
    <md-icon>insert_drive_file</md-icon>
    <span>Worksheets</span>
  </a>
  <a *ngIf="(user$ | async).Role === 'Administrators'" md-menu-item
     routerLink="upload">
    <md-icon>file_upload</md-icon>
    <span>Upload</span>
  </a>
  <button md-menu-item *ngIf="isLoggedIn$ | async" (click)="performLogout()">
    <md-icon class="fa fa-sign-out"></md-icon>
    <span>Logout</span>
  </button>
</md-menu>
