<div class="upload">
  <md-card>
    <md-card-content>
      <form [formGroup]="worksheetUploadForm"
            (submit)="worksheetUpload()">
        <div class="result" *ngIf="result">
          {{result}}
        </div>
        <h3>Worksheet Upload Form</h3>
        <md-input-container class="full-width">
          <input md-input type="text" formControlName="Title"
                 placeholder="Title" required>
        </md-input-container>
        <div class="subject-select">
          <md-select placeholder="Subject"
                     [(ngModel)]="selectedSubject"
                     formControlName="Subject">
            <md-option *ngFor="let subject of subjects" [value]="subject.Title">
              {{subject.Title}}
            </md-option>
          </md-select>
        </div>
        <div class="level-select">
          <md-select placeholder="Level"
                     [(ngModel)]="selectedLevel"
                     formControlName="Level">
            <md-option *ngFor="let level of levels" [value]="level.Title">
              {{level.Title}}
            </md-option>
          </md-select>
        </div>
        <md-input-container class="full-width">
          <input md-input type="url" formControlName="DownloadLink"
                 placeholder="Download Link" required>
        </md-input-container>
        <div class="buttons">
          <button [disabled]="submitted" md-raised-button
                  type="submit"
                  color="primary">Upload
          </button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
